body {
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  /* position: relative;
  overflow-y: auto; */
}

/*set navbar text color to white  */
.navbar-brand{
  color:#fff !important;
}

.nav-link {
  color: #fff !important;
}

/* navbar styling */
.navbar-light{
  background-color:#444;
  }

/* scroll feature */
html {
  scroll-behavior: smooth;
}
/* row class padding  */
.row{
  padding-top:0px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  }

#map,
#map_1,
#map_2,
#map_3,
#map_4,
#map_5,
#map_6 {
  height: 400px;
}

On mouse hover, lighten state color */
/* path:hover {
	fill-opacity: .7;
}

.leaflet-popup-content {
  text-align: center;
}

/* CSS from the Leaflet-Choropleth documentation */
.legend {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #555;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend ul {
  padding: 0;
  margin: 0;
  clear: both;
  list-style-type: none;
}

.legend li {
  display: inline-block;
  width: 30px;
  height: 22px;
}

.legend .min {
  float: left;
  padding-bottom: 5px;
}

.legend .max {
  float: right;
}

h1 {
  text-align: left;
}


/* small screen adjustments*/
@media(max-width:800px) {

  #navbarSupportedContent {
      display: block;
  }

#map,
#map_1,
#map_2,
#map_3,
#map_4,
#map_5,
#map_6 {
      /* top: 172px; */
      height: 600px
  }

  /* .subtitle {
      height: 36px;
      font-size: 85%;
  } */
}

@media(max-width:500px) {
  .thumbnail{
      width: 40%
  }

  #map,
#map_1,
#map_2,
#map_3,
#map_4,
#map_5,
#map_6 {

      height: 250px
  }
  /* .subtitle {
      height: 36px;
      font-size: 65%;
  } */
}

.wrapper{
  width: 1170px;
  margin: auto;
}

.nav-area{
  float: right;
  list-style: none;
  margin-top: 30px;
}

.nav-area li{
  display: inline-block;
}

.nav-area li a{
  color: #fff;
  text-decoration: none;
  padding: 5px 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 17px;
}

.nav-area li a:hover{
  background: #000;
  color: rgb(167, 167, 167);
}

.logo img{
  width: 70px;
  float: left;
  height: auto;
  padding-top: 20px;
  padding-left: 20px;
}

.about-section {
  padding: 75px;
  text-align: center;
  background-color: #474e5d;
  color: white;
  height: 200px;
}

