<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>About Us</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style_about.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
  <header>
    <div class="wrapper">
      <div class="logo">
        <a href="index.html"><img src="../static/images/home.png" alt=""></a>
      </div>
      <ul class="nav-area">
        <li><a href="index.html">Home</a></li>
        <li><a href="aboutpage.html">About</a></li>
        <li><a href="our_data.html">Our Data</a></li>
        <li><a href="index_charts.html">Impact on Trips</a></li>
        <li><a href="index_scatter.html">Trips by Population</a></li>
        <li><a href="index_map.html">GeoMap Metrics</a></li>
      </ul>
    </div>
  </header>
  <div>
    <div class="about-section">
      <h1>About Us</h1>
    </div>
    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
      <div class="col-xs-12  col-md-3">
        <div class="card">
          <img src="../static/images/ankit.jpg" alt="Ankit" width="auto" height="300">
          <div class="container">
            <h2>Ankit Baboota</h2>
            <p class="title">Team Member</p>
            <a href='https://github.com/babootaankit' target="_blank">
              <p><button class="button">Contact</button></p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12  col-md-3">
        <div class="card">
          <img src="../static/images/chen.jpg" alt="Chen" width="auto" height="300">
          <div class="container">
            <h2>Hung Chen</h2>
            <p class="title">Team Member</p>
            <a href='https://github.com/chenchcgt' target="_blank">
              <p><button class="button">Contact</button></p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12  col-md-3">
        <div class="card">
          <img src="../static/images/aravind.jpg" alt="Aravind" width="auto" height="300">
          <div class="container">
            <h2>Aravind Selvan</h2>
            <p class="title">Team Member</p>
            <a href='https://github.com/aselvan8' target="_blank">
              <p><button class="button">Contact</button></p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12  col-md-3">
        <div class="card">
          <img src="../static/images/oscar.jpg" alt="Oscar" width="auto" height="300">
          <div class="container">
            <h2>Oscar Safie</h2>
            <p class="title">Team Member</p>
            <a href='https://github.com/safieoscar' target="_blank">
              <p><button class="button">Contact</button></p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>