<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <title>US Transportation</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style_home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="shortcut icon" href="#">
  </head>
  <body>
    <header>
        <div class="wrapper">
            <div class="logo">
                <a href="index.html"><img src="../static/images/home.png" alt=""></a>
            </div>
            <ul class="nav-area">
              <li><a href="index.html">Home</a></li>
              <li><a href="aboutpage.html">About</a></li>
              <li><a href="our_data.html">Our Data</a></li>
              <li><a href="index_charts.html">Impact on Trips</a></li>
              <li><a href="index_scatter.html">Trips by Population</a></li>
              <li><a href="index_map.html">GeoMap Metrics</a></li>
            </ul>
        </div>

        <div class="welcome-text">
            <h1>How Travel in the United States Was Affected by the COVID-19 Pandemic</h1>
            <a href="../templates/aboutpage.html">Explore our Team</a>
        </div>
    </header>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
  <div class="about-section">
    <h3>Objective:</h3>
    <p>Our mission is to understand how the current events of pandemic affected the travel patterns in the US.
      Since the pandemic has hit the country starting in 2020, we’ve collected data from prior year up to today in order to find correlations and identify if such occurrence has affected traveling behaviors. With the data collected from the Bureau of Transportations Statistics, we analyzed a range of KPIs such as Number of Trips, Number of Trips by Distance, Population with Active Trips, and Population without Travel.
      As a result, we’ve created visualizations that enhances the user’s understanding of short and long-distance trips, elaborated graphs based on all travels independent of type of transportation throughout the timeline and demonstrate how this major event impacted the way Americans’ travel behaviors.
      </p>
  </div>
</html>
