<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="shortcut icon" href="#">

</head>
<body>

    <!-- <canvas id="myChart" width="400" height="400"></canvas> -->
    <div class="chart">
    <div style="width:500px;height:500px">
        <canvas id="myChart"></canvas>
        </div>
        </div>
    <div style="width:500px;height:500px">
        <canvas id="myChart_2"></canvas>
        </div>
    <div style="width:500px;height:500px">
        <canvas id="myChart_3"></canvas>
        </div>
    <div style="width:500px;height:500px">
        <canvas id="myChart_4"></canvas>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="static/js/Charts.js"></script>
</body>
</html>