<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <title>Our Data</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style_table.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <header>
        <div class="wrapper">
            <div class="logo">
                <a href="index.html"><img src="../static/images/home.png" alt=""></a>
            </div>
            <ul class="nav-area">
              <li><a href="index.html">Home</a></li>
              <li><a href="aboutpage.html">About</a></li>
              <li><a href="our_data.html">Our Data</a></li>
              <li><a href="index_charts.html">Impact on Trips</a></li>
              <li><a href="index_scatter.html">Trips by Population</a></li>
              <li><a href="index_map.html">GeoMap Metrics</a></li>
            </ul>
        </div>

        <div class="about-section">
          <h2>How to Access Our API</h2>
            <a href="https://github.com/aselvan8/project_travel_plan.git" target="_blank"> Click Here to Enter Our GitHub Repository</a>
        </div>

        <a href="../data/travel_data.csv" download="travel_data.csv">
          <div class="button">
            <button class="btn" style="width:100%"><i class="fa fa-download"></i> Download our Data (CSV format)</button>
        </div>
        </a>

        <div>
          <h3 style="text-align: center;">Sources</h3>
          <ul style="text-align: center;">
            <li><a href="https://data.bts.gov/Research-and-Statistics/Trips-by-Distance/w96p-f2qv" target="_blank"> Bureau of Transportation Statistics</a></li>
            <li><a href="https://leafletjs.com/reference-1.7.1.html" target="_blank">LeafletJS</a></li>
            <li><a href="https://inkplant.com/code/state-latitudes-longitudes" target="_blank"> Latitudes and Longitudes of US States</a></li>
            <li><a href="https://www.factmonster.com/us/postal-information/state-abbreviations-and-state-postal-codes" target="_blank">State Abbreviations and State Postal Codes</a></li>
            <li><a href="https://leafletjs.com/examples/choropleth/us-states.js" target="_blank"> US States Boundaries</a></li>
            <li><a href="https://www.chartjs.org/" target="_blank">Charts.js Library</a></li>
            <li><a href="https://d3js.org/" target="_blank">D3.js</a></li>
            <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></li>
          </ul>
      
        </div>

        

      

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
