<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Visualization 3</title>
</head>
<body>
  <header>
    <div class="wrapper">
        <div class="logo">
            <a href="homepage.html"><img src="../images/home.png" alt=""></a>
        </div>
        <ul class="nav-area">
          <li><a href="homepage.html">Home</a></li>
          <li><a href="aboutpage.html">About</a></li>
          <li><a href="table.html">Our Data</a></li>
          <li><a href="#">Visualization #1</a></li>
          <li><a href="#">Visualization #2</a></li>
          <li><a href="visualization_3.html">Visualization #3</a></li>
        </ul>
    </div>
  </header>

  <div class="about-section">
    <h1>Visualization 3</h1>
    <h3>Exploring the relationship between people staying at home and people traveling</h3>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>

  <div id="plot" class="graph"></div>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script type="text/javascript" src="../static/js/visualization_3.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/style_v_3.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</body>
</html>

